name: CI
on:
  - push
  - pull_request
permissions:
  contents: read
jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.20.x'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.0
          args: --timeout 3m0s
      - name: check-readme
        run: |
          go run ./scripts/update_readme.go
          git diff --exit-code README_zh.md README.md || (echo "README.md is not up to date. Please run 'go run ./scripts/update_readme.go' and commit the changes." && exit 1)
